<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload with Multer</title>
    <style>
        body{
            background-color: black;
            color: white;
            text-align: center;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>File Upload Multer & Cloudinary & Save To MongoDB</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Upload">
    </form>
    <div class="container">
        <% if(url) { %> 
            <h1>File uploaded to Cloudinary Successfully</h1>
        <img src="<%=url %>" alt="" style="width: 600px; height: 400px; margin: 20px;">
        <%} %>
    </div>
</body>
</html>