<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ejs</title>
    <link rel="stylesheet" href="style.css">
    <!-- <style>
      body {
        background-color: black;
        color: wheat;
      }
    </style> -->
  </head>
  <body>
    SubScribe To Web Dev Mastery
    <h1><%= product.title %></h1>
    <button class="btn"><%= product.price %></button>
  </body>
</html>
