<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form handling</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
</head>

<body>
    <h1>Form handling</h1>

    <form action="/superman" method="post">
        name <input type="text" name="NAME" placeholder="Enter your name">

        email <input type="email" name="Gmail" placeholder="Enter your email">

        <input type="submit">
    </form>
</body>
</html>